*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(199,214,236,1) 50%, rgba(255,255,255,1) 100%);
}

.bordaRelogio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(8, 8, 8, 0.2) 0px 60px 40px -7px;
    border-radius: 50%;
    padding: 60px;
    width: 700px;
    height: 700px;
}

.caixaMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
    height: 70px;
    width: 500px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 500px;
    height: 120px;
}

#relogio div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    border-right: 20px;
}
